.tab, .selectedTab {
    border-left: 1px solid;
}

.slideBlock {
    transition: transform 0.3s ease;
    max-height: 32px;
}

@media(min-width: 600px) {
    .slideBlock {
        max-height: 34px;
    }
}

@media(min-width: 720px) {
    .slideBlock {
        max-height: 36px;
    }
}

@media(min-width: 750px) {
    .slideBlock {
        max-height: 38px;
    }
}

@media(min-width: 768px) {
    .slideBlock {
        max-height: 35px;
    }
}

@media(min-width: 1024px) {
    .slideBlock {
        max-height: 28px;
    }
}

.workListItem {
    max-width: 90%;
}

.workListItem::before {
    content: '➤';
    margin-right: 8px;
    color: var(--primary-color-mg);
}