.bgShape {
    top: -100px;
}

.bgShape div {
    backdrop-filter: blur(64px);
}

.heroHolder {
    overflow: hidden;
}

@media (min-width: 640px) {
    .heroHolder {
        overflow: initial;
    }

    .bgShape {
        display: none;
    }
  }

  @media (min-width: 768px) {
    .bgShape {
        display: block;
    }
  }